<!DOCTYPE html>
{% load static %}
{% block content %}
<html>
<title>Mineral Details</title>
</head>
<body>
	<main>
	<article>
		<h2>{{ mineral.name }}</h2>
		<h3>{{ mineral.img_caption|title }}</h3>
		<img src="{% static 'images' %}/{{ mineral.img_filename }}" alt="{{ mineral.img_filename }}" height="100px" width="100px">
		<p><b>Category</b>: {{ mineral.category|title }}</p>
		<p><b>Formula</b>: {{ mineral.formula|title }}</p>
		<p><b>Strunz Class</b>: {{ mineral.strunz_class|title }}</p>
		<p><b>Color</b>: {{ mineral.color|title }}</p>
		<p><b>Crystal System</b>: {{ mineral.crystal_sys|title }}</p>
		<p><b>Unit Cell</b>: {{ mineral.unit_cell|title }}</p>
		<p><b>Crystal Symmetry</b>: {{ crystal_sym|title }}</p>
		<p><b>Cleavage</b>: {{ mineral.cleavage|title }}</p>
		<p><b>Mohs Scale Hardness</b>: {{ mineral.mohs|title }}</p>
		<p><b>Luster</b>: {{ mineral.luster|title }}</p>
		<p><b>Streak</b>: {{ mineral.streak|title }}</p>
		<p><b>Diaphaneity</b>: {{ mineral.diaphaneity|title }}</p>
		<p><b>Optical Properties</b>: {{ mineral.optical_prop|title }}</p>
		<p><b>Refractive Index</b>: {{ mineral.refractive_inx|title }}</p>
		<p><b>Crystal Habit</b>: {{ mineral.crystal_hab|title }}</p>
		<p><b>Specific Gravity</b>: {{ mineral.spec_grav|title }}</p>
	</article>
	{% endblock %}
	</main>
</body>
</html>